.task-card {
    width: 100%;
    /* border-radius: 5px; */
    /* box-shadow: 1px 1px 3px var(--clr6); */
    background: #473d8b53;
    /* margin-bottom: 5px; */
    cursor: pointer;
}

.task-card h2 {
    pointer-events: none;
}

.task-card.selected {
    background: var(--clr3)
}