.detail-editor {
    position: relative;
    flex: 1;
    align-self: stretch;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.47);
    overflow-y: auto;
    background-color: var(--clr5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.detail-editor h2 {
    margin-bottom: 5px;
}

.detail-editor .comments-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

.detail-editor .detail-top {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.detail-editor .detail-top .complete-btn {
    margin: 0;
    border: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    border-radius: 3px;
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.detail-editor .detail-top .complete-btn:focus {
    outline: none;
}

.detail-editor .detail-top .complete-btn.complete {
    color: green;
}

.detail-editor .detail-top .delete-btn {
    background: none;
    border: none;
}

.detail-editor .assignments {
    width: 100%;
}

.detail-editor .assignments form input[type='submit'],
.detail-editor .assignments button {
    background: transparent;
    padding: 5px;
    border: 2px solid var(--clr3);
    border-radius: 3px;
    color: var(--clr3);
    font-weight: bold;
    cursor: pointer;
}

.detail-editor .assignments form input[type='submit']:hover,
.detail-editor .assignments button:hover {
    background: rgba(115, 115, 115, 0.244);
}

.detail-editor .assignments .assignment-card {
    margin-bottom: 1px;
    background: rgb(64, 42, 92);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.detail-editor .assignments .assignment-card .name { 
    flex: 1;
}

.detail-editor .assignments .assignment-card svg { 
    pointer-events: none;
}

.detail-editor .assignments .assignment-card .remove-assignee-btn {
    background: transparent;
    border: none;
    color: rgb(252, 134, 134);
    cursor: pointer;
}

.detail-editor.empty {
    background: var(--clr1)
}
