.detail-editor {
    position: relative;
    flex: 1;
    align-self: stretch;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.47);
    overflow-y: auto;
    background-color: var(--clr5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.detail-editor h2 {
    margin-bottom: 5px;
}

.detail-editor .comments-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;

}

.detail-editor .complete-btn {
    border: none;
    background: none;
    cursor: pointer;
    align-self: flex-end;
}

.detail-editor .complete-btn:focus {
    outline: none;
}

.detail-editor .complete-btn.complete {
    color: green;
}

.detail-editor .delete-btn {
    position: absolute; 
    bottom: 0;
    right: 0;

    margin: 5px;
}

.detail-editor .assignments {
    width: 100%;
}

.detail-editor .assignments .assignment-card {
    margin-bottom: 1px;
    background: rgb(64, 42, 92);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.detail-editor .assignments .assignment-card .name { 
    flex: 1;
}

.detail-editor .assignments .assignment-card svg { 
    pointer-events: none;
}

.detail-editor .assignments .assignment-card .remove-assignee-btn {
    background: transparent;
    border: none;
    color: rgb(252, 134, 134);
    cursor: pointer;
}
