.detail-editor {
    position: relative;
    flex: 1;
    align-self: stretch;
    margin-left: 5px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.47);
    overflow-y: auto;
    background-color: var(--clr5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.detail-editor h2 {
    margin-bottom: 5px;
}

.detail-editor .comments-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;

}

.detail-editor .complete-btn {
    border: none;
    background: none;
    cursor: pointer;
    align-self: flex-end;
}

.detail-editor .complete-btn:focus {
    outline: none;
}

.detail-editor .complete-btn.complete {
    color: green;
}

.detail-editor .delete-btn {
    position: absolute; 
    bottom: 0;
    right: 0;

    margin: 5px;
}
