.new-comment-form {
    margin-bottom: 10px;
}

.new-comment-form input {
    padding: 5px;
}

.new-comment-form .comment-submit {
    background: transparent;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.new-comment-form .comment-submit.task { 
    border: 2px solid var(--clr5);
    color: var(--clr5);
}

.new-comment-form .comment-submit.task:hover {
    background: rgba(0, 0, 0, 0.233);
}

.new-comment-form .comment-submit.detail { 
    border: 2px solid var(--clr3);
    color: var(--clr3);
}

.new-comment-form .comment-submit.detail:hover {
    background: rgba(121, 121, 121, 0.233);
}