.task-workspace {
    height: calc(100% - 20px);
    padding: 0px;
    margin: 10px;
    border-radius: 20px;
    flex: 2;
    background: transparent;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.task-workspace h2 {
    position: sticky;
    top: 0;
    width: 100%;
    margin-top: 0;
    background-color: rgb(53, 2, 100);
    color: white;
    z-index: 5;
}

.no-task-placeholder {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: var(--clr3);
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-task-placeholder .logo {
    height: 200px;
    width: 200px;
    background-color: #483d8b;
    background-color: darkgrey;
    border-radius: 50%;
    opacity: .2;
    display: flex;
    justify-content: center;
    align-items: center;
}
