.team-toolbar {
    width: 300px;
    height: 100%;
    background-color: darkslateblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.team-toolbar a {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.team-toolbar a:hover {
    background-color: rgba(60, 20, 60, 0.374);
}

.team-toolbar .project-card.selected {
    color: var(--clr3);
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.528);
}

.team-toolbar .project-card {
    width: 90%;
    margin: 5px;
    padding: 5px;
    background: rgba(23, 39, 39, 0.192);
    cursor: pointer;
    transition: all 0.3s ease;
}

.team-toolbar .project-card:hover {
    transform: scale(1.1);
    margin: 5px;
    background: rgba(74, 180, 180, 0.192);
}

.team-toolbar .addProjectBtn {
    background: transparent;
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.team-toolbar .addProjectBtn:hover {
    background-color: rgba(60, 20, 60, 0.374);
}

.team-toolbar .overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.774);
    z-index: 10;
}

.team-toolbar .show {
    display: block;
}

.team-toolbar .hide {
    display: none;
}

@media (max-width: 1300px) {
    .team-toolbar {
        width: 100%;
    }
}