.login-window {
    position: absolute;
    top: 15%;
    right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.685);
    min-height: 400px;
    width: 300px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.13);
    z-index: 1;
}

.login-window .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-window .login-form input {
    color: white;
    width: 90%;
}

.login-window .login-form input:-webkit-autofill,
.login-window .login-form input:-webkit-autofill:hover,
.login-window .login-form input:-webkit-autofill:focus,
.login-window .login-form input:-webkit-autofill:active {
    transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    transition-delay: 9999s;
    -webkit-transition-delay: 9999s;
}

.login-window .login-form input:focus {
    outline: none;
}

.login-window .login-form label {
    position: relative;
    bottom: -30px;
    right: -20px;
    align-self: flex-start;
    font-weight: bold;
    transition: all 0.5s ease;
}

.login-window .login-form label.focus {
    bottom: 10px;
    right: -10px;
    color: rgba(195, 199, 241, 0.905);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.446);
}

.login-window .login-form input[type="text"], 
.login-window .login-form input[type="password"] {
    padding: 5px;
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 3px solid var(--clr5);
    font-size: 25px;
    color: var(--clr5)
}

.login-window button,
.login-window .login-form input[type="submit"] {
    padding: 5px;
    background: transparent;
    border-radius: 5px;
    border: 2px solid var(--clr5);
    color: var(--clr5);
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-window button:hover,
.login-window .login-form input[type="submit"]:hover {
    transform: scale(1.1);
    background: rgba(128, 128, 128, 0.281);
}

.login-window button {
    margin: 20px 0 0 20px;
    align-self: flex-end;
}

@media (max-width: 480px) {
    .login-window {
        position: relative;
        top: 0;
        right: 0;
    }
}